@import "specs";
.mb{
    margin-left: 10px;
    margin-right: 10px;
}
.mclear{
    margin: 0!important;
}
.page{
    width: 1060px;
    margin: 0 auto;
    display: block;
}
.container {
    overflow: hidden;
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20 {
        .mb;
        .fl;
    }
    .col-1 {
        width: 3.1730769231%;
    }
    .col-3 {
        width: 139px;
    }
    .col-5{
        width: 245px;
    }
    .col-7{
        width: 351px;
    }
    .col-8{
        width: 404px;
    }
    .col-12 {
        width: 616px;
    }
    .col-13{
        width: 669px;
    }
}

.alpha {
    margin-left: 0!important;
}
.omega{
    margin-right: 0!important;
}