@import "specs";
@import "fonts";

body{
    margin: 0 auto;
    border-top: 3px solid @yellow;
    background: @cream;
    padding-top: 30px;
}

textarea{
    max-height: 100px;
}
h1{
    font-size: 24px;
    color:@darkGrey;
}
h2{
    .gothamBold;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    letter-spacing: 0.05em;
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        // background: #e5e5e5;
        // padding: 10px;
        // border-bottom: 1px solid  #b4b4b4;
    }
}
header{
    .clear;
    margin-bottom: 17px;
    #logo{
        a{
            img{
                color: #f00;
            }
        }
    }
    #menu, .busca{
        margin-top: 61px;
    }
    #menu{
        ul{
            padding: 0;
            margin: 0;
            li{
                display: block;
                .fl;
                padding: 0 17px 0 16px;
                a{
                    letter-spacing: 0.075em;
                    .gothamBold;
                    line-height: 42px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color:@white;
                    text-decoration: none;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                }
                a.active{
                    color:@darkRed;
                }
            }
        }
    }
}
#content {
    .clear;
    #mapa {
        height: 445px;
        .br;
    }
    #truckDaSemana {
        position: relative;
        .body{
            height: 245px;
            position: relative;
        }
        img {
            position: relative;
            max-width: 100%;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        h3 {
            position: absolute;
            bottom: 10px;
            margin: 0 10px;
            width: 215px;
        }
    }
    #anota-ai{
        span{
            .fr;
            .helvetica;
            background: @white;
            color:@green;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            .br;
            margin-top: 9px;
            padding: 3px 4px;
            margin-right: 10px;
        }
        a{
            text-decoration: none;
            &:hover{
                h3{
                    background: @white;
                    color:@darkGrey;
                }
            }
        }
        img{
            position: relative;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        h3{
            position: relative;
            bottom: 45px;
            margin: 0 10px;

        }
    }
}
#sidebar{
    #ultimasParadas {
        .body{
            max-height: 385px;
            overflow-y: scroll;
        }
        ul{
            li{
                margin-left: 10px;
                font-size: 13px;
                text-transform: none;
                color:@mediumGrey;
                .helvetica;
                padding-top: 8px;
            }
        }
    }
}

#newsletter{
    background: @yellow;
    padding: 10px;
    .wrapInput{
        .fl;
        width: 264px;
        border:none;
    }
}
#newsletter.red{
    .br;
    input, h2{
        color:@darkRed;
        .gothamBold;
        text-transform: uppercase;
        &::-moz-placeholder{
            color:@darkRed;
            text-transform: uppercase;
            font-size: 14px;
        }
        &::-webkit-input-placeholder{
            color:@darkRed;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .text-btn{
        font-size: 14px;
        line-height: 14px;
        padding: 11px 0 0;
        margin: 0 10px 0 20px;
        cursor: pointer;
    }
    h2{
        line-height: 16px;
        padding: 10px 0;
        i{
            margin-right: 4px;
        }
    }
}

#menu, .busca{
    height: 40px;
    .br;
    background: @yellow;
    overflow: hidden;
}
.busca.white{
    background: @white;
    border: 1px solid @yellow;
}
.busca{
    i, input{
        color:@white;
    }
    i{
        padding-left: 10px;
        cursor: pointer;
    }
    input{
        border: none;
        background: transparent;
        letter-spacing: 0.075em;
        .gothamBold;
        line-height: 42px;
        font-size: 14px;
        padding: 0px;
        margin: 0;
        &::-moz-placeholder{
            color:@white;
        }
        &::-webkit-input-placeholder{
            color:@white;
        }
    }
}
.busca.white{
    i, input{
        color:@yellow;
        &::-moz-placeholder{
            color:@yellow;
        }
        &::-webkit-input-placeholder{
            color:@yellow;
        }
    }

}

footer{
    background: @greyFooter;
    padding: 30px 0;
    .copyright{
        p{
            margin-top: 0;
            .helvetica;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color:@red;
            a{
                color:@cream;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .sitemap{
        background: @cream;
        .br;
        ul{
            .helvetica;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
            padding: 20px 19px;
            h3{
                color:@red;
            }
            li{
                margin-top: 6px;
                a{
                    .helvetica;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    color:@greyFooter;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


